openapi: 3.0.0
info:
  title: Cosmic Dolphin
  version: 0.0.0
servers:
- url: /
tags:
- name: Notes
- name: Pipelines
paths:
  /notes:
    get:
      operationId: Notes_findAll
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Note'
                type: array
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CosmicError'
          description: An unexpected error response.
      security:
      - BearerAuth: []
      tags:
      - Notes
    post:
      operationId: Notes_create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoteRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
          description: The request has succeeded and a new resource has been created
            as a result.
      security:
      - BearerAuth: []
      tags:
      - Notes
  /notes/{id}:
    get:
      operationId: Notes_findById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CosmicError'
          description: An unexpected error response.
      security:
      - BearerAuth: []
      tags:
      - Notes
  /pipelines/{refId}:
    get:
      operationId: Pipelines_findByRefId
      parameters:
      - explode: false
        in: path
        name: refId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Pipeline'
                type: array
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CosmicError'
          description: An unexpected error response.
      security:
      - BearerAuth: []
      tags:
      - Pipelines
components:
  schemas:
    CosmicError:
      example:
        code: 1
        message: message
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
      required:
      - code
      - message
      type: object
    CreateNoteRequest:
      example:
        body: body
        type: fup
      properties:
        body:
          type: string
        type:
          $ref: '#/components/schemas/NoteType'
      required:
      - body
      - type
      type: object
    Note:
      example:
        summary: summary
        createdAt: createdAt
        resources:
        - type: web_page
          openGraph:
            image: image
            articlePublishedTime: articlePublishedTime
            title: title
            type: type
            imageAlt: imageAlt
            articleModifiedTime: articleModifiedTime
            url: url
        - type: web_page
          openGraph:
            image: image
            articlePublishedTime: articlePublishedTime
            title: title
            type: type
            imageAlt: imageAlt
            articleModifiedTime: articleModifiedTime
            url: url
        documentId: 6
        id: 0
        title: title
        body: body
        type: fup
        userId: userId
        tags:
        - tags
        - tags
      properties:
        id:
          format: int64
          type: integer
        documentId:
          format: int64
          type: integer
        title:
          type: string
        summary:
          type: string
        body:
          type: string
        tags:
          items:
            type: string
          type: array
        type:
          $ref: '#/components/schemas/NoteType'
        userId:
          type: string
        createdAt:
          type: string
        resources:
          items:
            $ref: '#/components/schemas/Resource'
          type: array
      required:
      - body
      - createdAt
      - summary
      - title
      - type
      - userId
      type: object
    NoteSection:
      properties:
        type:
          $ref: '#/components/schemas/NoteSectionType'
        content:
          additionalProperties:
            type: string
          type: object
      required:
      - content
      - type
      type: object
    NoteSectionType:
      enum:
      - text
      type: string
    NoteType:
      enum:
      - fup
      - chatter
      - knowledge
      - task
      type: string
    OpenGraph:
      example:
        image: image
        articlePublishedTime: articlePublishedTime
        title: title
        type: type
        imageAlt: imageAlt
        articleModifiedTime: articleModifiedTime
        url: url
      properties:
        title:
          type: string
        type:
          type: string
        image:
          type: string
        url:
          type: string
        imageAlt:
          type: string
        articlePublishedTime:
          type: string
        articleModifiedTime:
          type: string
      type: object
    Pipeline:
      allOf:
      - additionalProperties: {}
        type: object
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        stages:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          id: 1
          key: key
          status: pending
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          id: 1
          key: key
          status: pending
          updatedAt: 2000-01-23T04:56:07.000+00:00
        id: 0
        refId: 6
        status: null
      properties:
        id:
          format: int64
          type: integer
        refId:
          format: int64
          type: integer
        stages:
          items:
            $ref: '#/components/schemas/PipelineStage'
          type: array
        status:
          $ref: '#/components/schemas/PipelineStatus'
        createdAt:
          format: date-time
          type: string
      required:
      - createdAt
      - stages
      - status
      type: object
    PipelineStage:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        name: name
        id: 1
        key: key
        status: pending
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        key:
          type: string
        status:
          $ref: '#/components/schemas/PipelineStatus'
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
      - createdAt
      - key
      - name
      - status
      - updatedAt
      type: object
    PipelineStatus:
      enum:
      - pending
      - running
      - complete
      - failed
      type: string
    Resource:
      example:
        type: web_page
        openGraph:
          image: image
          articlePublishedTime: articlePublishedTime
          title: title
          type: type
          imageAlt: imageAlt
          articleModifiedTime: articleModifiedTime
          url: url
      properties:
        type:
          $ref: '#/components/schemas/ResourceType'
        openGraph:
          $ref: '#/components/schemas/OpenGraph'
      required:
      - type
      type: object
    ResourceType:
      enum:
      - web_page
      type: string
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
